* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    min-width: 1440px;
}

/* ======= Common ========= */

a {
    text-decoration: none;
}

.header {
    background: #e6f0ff;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 151px;
    padding: 18px 16px;
    border-radius: 8px;
    background: #0f1b4c;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ======= Navbar ========= */

.navbar {
    display: flex;
    padding-top: 38px;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar .Besnik {
    margin-right: 50px;
}

.navbar ul a {
    padding: 0px 14px;
    color: #4f5361;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 450;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .signin {
    color: #0f1b4c;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .signin:hover {
    text-decoration: underline;
}

.navbar .signup {
    margin-left: 18px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
}

/* ======= Hero ======= */

.hero {
    position: relative;
    margin-top: 138px;
    width: 559px;
    height: 371px;
}

.hero .welcome {
    color: #687690;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: 0.18px;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-family: Poppins;
    font-size: 6.4rem;
    font-weight: 650;
    line-height: 119%;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 178%;
}

.hero .detail {
    display: inline-block;
    margin-top: 55px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 450;
}
.header .hero-img {
    position: absolute;
    right: calc((100% - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ======= Clients ======= */

.clients {
    margin-top: 122px;
}

.clients .content {
    height: 228px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-1 {
    display: flex;
    justify-content: space-between;
}

.clients .row-1 .truth-1 {
    margin-top: 23px;
    color: #7d8589;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 450;
    line-height: 125%;
}

.clients .row-1 .truth-2 {
    margin-top: 18px;
    color: #7d8589;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 450;
    line-height: 125%;
}

.clients .row-2 {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .group {
    display: flex;
    align-items: center;
}

.clients .group .logo-slack {
    margin-top: 3px;
    padding-right: 8px;
}

/* ======= Guides ======= */

.guides {
    position: relative;
}

.guides .content {
    height: 427px;
}

.guides .guides-title {
    margin-top: 174px;
    color: #000339;
    text-align: center;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 550;
    line-height: 100%; /* 100% */
}

.guides .guides-title::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .guides-desc {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 459px;
    color: #5a6473;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 350;
    line-height: 187%; /* 187.5% */
}

/* ======= List-guides ======= */
.list-guides {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.list-guides .h3-guides {
    margin-top: 26px;
    color: #3b3c45;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%;
}

.li-guides .a-listguides {
    display: inline-block;
    margin-top: 10px;
}

.li-guides .a-listguides span {
    color: #0689ff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
}

.li-guides .a-listguides .arrow {
    margin-left: 8px;
}

/* ======= Guides-button ======= */
.guides .a-guides {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides .a-guides a {
    color: #fff;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 500;
}

/* ======= Features ======= */
.features {
    height: 727px;
    margin-top: 120px;
    padding-top: 110px;
    background: #f5fafe;
}

.features .h3-features {
    color: #000339;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 100%;
}

.features .features-row1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.features .p-features-row1 {
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187%;
}

.features .a-features span {
    color: #0689ff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

.features .a-features .features-vector {
    margin-left: 2px;
}

/* ======= List-Feauture ======= */

.features .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.features .list .list-feature {
    height: 357px;
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.features .list .flist-img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.features .flist-item .p-flist {
    padding: 17px 20px 11px;
    color: #000339;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
}

.features .flist-item .p-flist > a {
    color: #000339;
}

.features .flist-item .p-flist-desc {
    padding: 0 0 22px 20px;
    color: #a3a6ab;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
}

.features .flist-item .icon-flist {
    display: flex;
    align-items: center;
}

.features .flist-item .iflist-desc {
    padding-left: 8px;
    color: #4d4d52;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.14px;
}

.features .flist-item .img-flist {
    margin-left: 22px;
}

/* ======= Stats ======= */

.stats {
    margin-top: 125px;
}

.stats .content {
    height: 785px;
}

.stats .stats-info {
    display: flex;
    margin-left: 120px;
}

.stats .stats-img {
    position: relative;
}

.stats .img-stats {
    object-fit: cover;
    width: 400px;
    height: 460px;
    border-radius: 12px;
}

.stats-desc {
    margin-left: 165px;
    margin-top: 65px;
    width: 309px;
    height: 326px;
}

.stats-desc .h2-stats::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats-desc .h2-stats {
    position: relative;
    height: 142px;
    color: #000339;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 128.571%; /* 128.571% */
}

.stats .p-stats-desc {
    margin-top: 20px;
    height: 150px;
    color: #5a6473;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%; /* 187.5% */
}

/* ======= Stats-trend ======= */

.stats-trend {
    position: absolute;
    top: 0;
    left: -120px;
    width: 239px;
    height: 252px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.stats-trend .strong-stats {
    display: inline-block;
    width: 159px;
    height: 26px;
    color: #000339;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 100%; /* 100% */
    letter-spacing: 0.26px;
}

.stats .img-stsstrend {
    margin-left: 10px;
}

.stats .p-stsstrend {
    margin-top: 8px;
    width: 194px;
    height: 31px;
    color: #a7a7a7;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%; /* 150% */
}

.stats .seperate {
    text-align: center;
    margin-top: 25px;
    width: 193.62px;
    height: 1.2px;
    background: #0689ff;
}

/* ======= Stats-avatar-block ======= */

.stats .father-avablock {
    display: flex;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    margin-left: 13px;
}

.stats .avatar-block .img-avablock {
    margin-left: -3px;
    width: 16.337px;
    height: 16.337px;
    border-radius: 50%;
    background: url(<path-to-image>) lightgray 0.29px -3.45px / 136.491% 202.414%
        no-repeat;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
}

/* ======= Stats-number ======= */
.stats .stats-number {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.stats .stats-number .stats-nuinfo:first-child {
    margin-left: 35px;
}
.stats .stats-number .h1-nuinfo {
    color: #000;
    font-family: Poppins;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 100%; /* 100% */
}

.stats .stats-number .p-nuinfo {
    margin-top: 22px;
    color: #7b8087;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ======= Subscription ======= */

.subscrition .content {
    width: 1110px;
    height: 370px;
}

.subscrition .father-subscribe {
    display: flex;
    position: relative;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscrition .father-subscribe .subscribe {
    margin-left: 80px;
}

.subscrition .subscribe .h2-newsletter {
    margin-top: 110px;
    width: 501px;
    height: 35px;
    color: #fff;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 100%;
}

.subscrition .subscribe .p-newsletter {
    width: 407px;
    height: 30px;
    margin-top: 15px;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    opacity: 0.5;
}

.subscrition .subscribe .a-newsletter {
    display: inline-block;
    text-align: center;
    margin-top: 34px;
    color: #002366;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscrition .subscribe .btn {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    background: #fff;
}

.subscrition .subscribe .btn:hover {
    opacity: 0.75;
}

.subscrition .father-subscribe .img-newsletter {
    position: absolute;
    width: 218.083px;
    height: 438.437px;
    left: 670px;
    bottom: -12px;
}

/* ======= Footer ======= */

.footer .content {
    height: 429px;
}

.footer .footer-row {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
}

.footer .footer-heading {
    color: #1c1c1d;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
}

.footer .footer-list {
    margin-top: 42px;
}

.footer .footer-item {
    margin-top: 18px;
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 300;
}

.footer .p-footdesc {
    margin-top: 40px;
    width: 257px;
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 175% */
}

.footer .footer-img {
    display: inline-block;
    margin-top: 40px;
    width: 117px;
}

.footer .footbesnik-img {
    display: inline-block;
    margin-top: 81px;
}
